### 1.capitalize() //Upper case the first letter in this sentence:

In [31]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

### 2.casefold() //Make the string lower case:

In [35]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

### 3.center() //Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:

In [38]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

### 4.count() //Return the number of times the value "apple" appears in the string:

In [45]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

### 5.encode() //UTF-8 encode the string:

In [50]:
txt = "My name is St√•le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

### 6.endswith() //Check if the string ends with a punctuation sign (.):

In [65]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

### 7.expandtabs() //Set the tab size to 2 whitespaces:

In [68]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

### 8.find() //Where in the text is the word "welcome"?:

In [71]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

### 9.format() //Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

In [76]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

### 10.index() //Where in the text is the word "welcome"?:

In [79]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

### 11.isalnum() //Check if all the characters in the text are alphanumeric:

In [83]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

### 12.isalpha() //Check if all the characters in the text are letters:

In [86]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

### 13.isascii() //Check if all the characters in the text are ascii characters:

In [89]:
txt = "Company123"

x = txt.isascii()

print(x)

True

### 14.isdecimal() //Check if all the characters in a string are decimals (0-9):

In [92]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

### 15.isdigit() //Check if all the characters in the text are digits:

In [95]:
txt = "50800"

x = txt.isdigit()

print(x)

True

### 17.isidentifier() //Check if the string is a valid identifier:

In [98]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

### 18.islower() //Check if all the characters in the text are in lower case:

In [102]:
txt = "hello world!"

x = txt.islower()

print(x)

True

### 19.isnumeric() //Check if all the characters in the text are numeric:

In [106]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

### 20.isprintable()  //Check if all the characters in the text are printable:

In [110]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

### 21.isspace() //Check if all the characters in the text are whitespaces:

In [114]:
txt = "   "

x = txt.isspace()

print(x)

True

### 22.istitle()  //Check if each word start with an upper case letter:

In [117]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

### 23.join() //Join all items in a tuple into a string, using a hash character as separator:

In [120]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

### 24.ljust() //Return a 20 characters long, left justified version of the word "banana":

In [123]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

### 25.lower() //Lower case the string:

In [126]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

### 26.lstrip() //Remove spaces to the left of the string:

In [129]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

### 27.maketrans() //Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

In [132]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

### 28.partition() //Search for the word "bananas", and return a tuple with three elements:

1 - everything before the "match"
2 - the "match"
3 - everything after the "match"

In [137]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

### 29.replace() //Replace the word "bananas":

In [140]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

### 30.rfind() //Where in the text is the last occurrence of the string "casa"?:

In [143]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

### 31.rindex() //Where in the text is the last occurrence of the string "casa"?:

In [146]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

### 32.rjust() //Return a 20 characters long, right justified version of the word "banana":

In [149]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

### 33.rpartition() //Search for the last occurrence of the word "bananas", and return a tuple with three elements:

1 - everything before the "match"
2 - the "match"
3 - everything after the "match"

In [152]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

### 34.rsplit() //Split a string into a list, using comma, followed by a space (, ) as the separator:

In [155]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

### 35.rstrip() //Remove any white spaces at the end of the string:

In [158]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

### 36.split() //Split a string into a list where each word is a list item:

In [161]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

### 37.splitlines() //Split a string into a list where each line is a list item:

In [164]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

### 38.startswith() //Check if the string starts with "Hello":

In [169]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

### 39.strip()  //Remove spaces at the beginning and at the end of the string:

In [172]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

### 40.swapcase() //Make the lower case letters upper case and the upper case letters lower case:

In [175]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

### 41.title() //Make the first letter in each word upper case:

In [178]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

### 42.translate() //Replace any "S" characters with a "P" character:

In [181]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

### 43.upper() //Upper case the string:

In [184]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

### 44.zfill() //Fill the string with zeros until it is 10 characters long:

In [189]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050