# give example of list min 20 of diffrent data types in Python
* https://www.geeksforgeeks.org/list-methods-python/

### List Methods in Python

### 1). append() : Used for adding elements to the end of the List.

In [17]:

list=[2,5,6,7] 
list.append(8) 
print(list)

[2, 5, 6, 7, 8]

### 2). copy() : It returns a shallow copy of a list

In [20]:
import copy
li1 = [1, 2, [3, 5], 4]
li2 = copy.copy(li1)
print("li2 ID: ", id(li2), "Value: ", li2)
li3 = copy.deepcopy(li1)
print("li3 ID: ", id(li3), "Value: ", li3)

li2 ID:  2346882007296 Value:  [1, 2, [3, 5], 4]
li3 ID:  2346882014080 Value:  [1, 2, [3, 5], 4]

### 3). clear() : This method is used for removing all items from the list.

In [25]:
lis = [1, 2, 3]
lis.clear()
print(lis)

[]

### 4). count() : These methods count the elements.

In [28]:
#create a list
fruits = ["Apple", "Mango", "Banana", "Cherry" , "Papaya"]
# printing count using count() function
print(fruits.count("Apple"))

1

### 5). extend(): Adds each element of an iterable to the end of the List

In [33]:


cars = ["Audi","BMW","Jaguar"]
other_cars = ["Maruti", "Tata"]
cars.extend(other_cars)
print(cars)

['Audi', 'BMW', 'Jaguar', 'Maruti', 'Tata']

### 6). index() : Returns the lowest index where the element appears.

In [35]:
# list of animals
Animals= ["cat", "dog", "tiger"]
# searching positiion of dog
print(Animals.index("dog"))

1

### 7). insert(): Inserts a given element at a given index in a list.

In [40]:
# creating a list
fruit = ["banana","cherry","grape"]
fruit.insert(1,"apple")
print(fruit)

['banana', 'apple', 'cherry', 'grape']

### 8). pop(): Removes and returns the last value from the List or the given index value.

In [42]:
fruits = ["apple", "mango", "cherry"]
fruits.pop()
print(fruits)

['apple', 'mango']

### 9). remove(): Removes a given object from the List.

lis = ['a', 'b', 'c']
lis.remove("b")
print(lis)

### 10). reverse() : Reverses objects of the List in place.

In [49]:
# Python3 program to demonstrate the 
# use of reverse method 
  
# a list of numbers
list1 = [1, 2, 3, 4, 1, 2, 6] 
list1.reverse() 
print(list1) 
 
# a list of characters
list2 = ['a', 'b', 'c', 'd', 'a', 'a'] 
list2.reverse() 
print(list2)

[6, 2, 1, 4, 3, 2, 1]
['a', 'a', 'd', 'c', 'b', 'a']

### 11). sort() : Sort a List in ascending, descending, or user-defined order

In [52]:
alphabets = ['a','e','d','c','b']
alphabets.sort()
print(alphabets)

random_numbers = [2,5,6,1,8,3]
random_numbers.sort()
print(random_numbers)

['a', 'b', 'c', 'd', 'e']
[1, 2, 3, 5, 6, 8]

### 12).min() : Calculates the minimum of all the elements of the List

In [55]:
numbers = [23,25,65,21,98]
print(min(numbers))

21

### 13). max() : Calculates the maximum of all the elements of the List

In [58]:
var1 = 4
var2 = 8
var3 = 2
 
max_val = max(var1, var2, var3)
print(max_val)

8

### 14).

In [61]:
# Python code to demonstrate the working of
# len(), min() and max()
# initializing list 1
lis = [2, 1, 3, 5, 4]
 
# using len() to print length of list
print ("The length of list is : ", end="")
print (len(lis))
 
# using min() to print minimum element of list
print ("The minimum element of list is : ", end="")
print (min(lis))
 
# using max() to print maximum element of list
print ("The maximum element of list is : ", end="")
print (max(lis))

The length of list is : 5
The minimum element of list is : 1
The maximum element of list is : 5

### 14).

In [65]:
# Python code to demonstrate the working of
# index() and count()
# initializing list 1
lis = [2, 1, 3, 5, 4, 3]
 
# using index() to print first occurrence of 3
# prints 5
print ("The first occurrence of 3 after 3rd position is : ", end="")
print (lis.index(3, 3, 6))
 
# using count() to count number of occurrence of 3
print ("The number of occurrences of 3 is : ", end="")
print (lis.count(3))

The first occurrence of 3 after 3rd position is : 5
The number of occurrences of 3 is : 2

### 15). 1. del[a : b] :- This method deletes all the elements in range starting from index ‘a’ till ‘b’ mentioned in arguments.

2. pop() :- This method deletes the element at the position mentioned in its arguments.

In [71]:
# Python code to demonstrate the working of 
# del and pop() 
  
# initializing list  
lis = [2, 1, 3, 5, 4, 3, 8]

In [74]:
# using del to delete elements from pos. 2 to 5 
# deletes 3,5,4 
del lis[2 : 5]

In [76]:
# displaying list after deleting  
print ("List elements after deleting are : ",end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ") 
      
print("\r")

List elements after deleting are : 2 1 3 8

In [78]:
# using pop() to delete element at pos 2 
# deletes 3 
lis.pop(2)

3

In [80]:
# displaying list after popping   
print ("List elements after popping are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ")

List elements after popping are : 2 1 8

### 16). 3. insert(a, x) :- This function inserts an element at the position mentioned in its arguments. It takes 2 arguments, position and element to be added at respective position.

4. remove() :- This function is used to delete the first occurrence of number mentioned in its arguments.

In [84]:
# Python code to demonstrate the working of 
# insert() and remove() 
  
# initializing list  
lis = [2, 1, 3, 5, 3, 8]

In [86]:
# using insert() to insert 4 at 3rd pos 
lis.insert(3, 4)

In [88]:
# displaying list after inserting 
print("List elements after inserting 4 are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ") 
      
print("\r")

List elements after inserting 4 are : 2 1 3 4 5 3 8

In [90]:
# using remove() to remove first occurrence of 3 
# removes 3 at pos 2 
lis.remove(3)

In [92]:
# displaying list after removing  
print ("List elements after removing are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ")

List elements after removing are : 2 1 4 5 3 8

### 17). 5. sort() :- This function sorts the list in increasing order.

6. reverse() :- This function reverses the elements of list.

In [95]:
# Python code to demonstrate the working of 
# sort() and reverse() 
  
# initializing list  
lis = [2, 1, 3, 5, 3, 8]

In [97]:
# using sort() to sort the list 
lis.sort()

In [99]:
# displaying list after sorting 
print ("List elements after sorting are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ") 
      
print("\r")

List elements after sorting are : 1 2 3 3 5 8

In [100]:
# using reverse() to reverse the list 
lis.reverse()

In [101]:
# displaying list after reversing 
print ("List elements after reversing are : ", end="") 
for i in range(0, len(lis)): 
    print(lis[i], end=" ")

List elements after reversing are : 8 5 3 3 2 1

### 18). 7. extend(b) :- This function is used to extend the list with the elements present in another list. This function takes another list as its argument.

8. clear() :- This function is used to erase all the elements of list. After this operation, list becomes empty.

In [106]:
# Python code to demonstrate the working of 
# extend() and clear() 
  
# initializing list 1 
lis1 = [2, 1, 3, 5] 
  
# initializing list 1 
lis2 = [6, 4, 3]

In [108]:
# using extend() to add elements of lis2 in lis1 
lis1.extend(lis2)

In [110]:
# displaying list after sorting 
print ("List elements after extending are : ", end="") 
for i in range(0, len(lis1)): 
    print(lis1[i], end=" ") 
      
print ("\r")

List elements after extending are : 2 1 3 5 6 4 3

In [112]:
# using clear() to delete all lis1 contents 
lis1.clear()

In [114]:
# displaying list after clearing 
print ("List elements after clearing are : ", end="") 
for i in range(0, len(lis1)): 
    print(lis1[i], end=" ")

List elements after clearing are :

### 19). 1. strip():- This method is used to delete all the leading and trailing characters mentioned in its argument.
2. lstrip():- This method is used to delete all the leading characters mentioned in its argument.
3. rstrip():- This method is used to delete all the trailing characters mentioned in its argument.

In [117]:
# Python code to demonstrate working of  
# strip(), lstrip() and rstrip() 
str = "---geeksforgeeks---"
  
# using strip() to delete all '-' 
print ( " String after stripping all '-' is : ", end="") 
print ( str.strip('-') ) 
  
# using lstrip() to delete all trailing '-' 
print ( " String after stripping all leading '-' is : ", end="") 
print ( str.lstrip('-') ) 
  
# using rstrip() to delete all leading '-' 
print ( " String after stripping all trailing '-' is : ", end="") 
print ( str.rstrip('-') )

 String after stripping all '-' is : geeksforgeeks
 String after stripping all leading '-' is : geeksforgeeks---
 String after stripping all trailing '-' is : ---geeksforgeeks

### 20). 4. min(“string”):- This function returns the minimum value alphabet from the string.
5. max(“string”) :- This function returns the maximum value alphabet from string.

In [121]:
# Python code to demonstrate working of  
# min() and max() 
str = "geeksforgeeks"
  
# using min() to print the smallest character 
# prints 'e' 
print ("The minimum value character is : " + min(str)) 
  
# using max() to print the largest character 
# prints 's' 
print ("The maximum value character is : " + max(str))

The minimum value character is : e
The maximum value character is : s

### 21). In the above code, ‘g’ is replaced by a, ‘f’ is replaced by b, and ‘o’ is replaced by ‘c’ in the string using the translate function.
8.replace():- This function is used to replace the substring with a new substring in the string. This function has 3 arguments. The string to replace, new string which would replace and max value denoting the limit to replace action ( by default unlimited ).

In [143]:
# Python code to demonstrate working of  
# replace() 
  
str = "nerdsfornerds is for nerds"
  
str1 = "nerds"
str2 = "geeks"
  
# using replace() to replace str2 with str1 in str 
# only changes 2 occurrences  
print ("The string after replacing strings is : ", end="") 
print (str.replace( str1, str2, 2))

The string after replacing strings is : geeksforgeeks is for nerds

### 22). This method is contributed by Chinmoy Lenka 
9. expandtabs():- It is used to replace all tab characters(“\t”) with whitespace or simply spaces using the given tab size, which is optional to supply. 
Syntax: string.tabsize(tabsize) 
Parameters: Specifying the number of characters to be replaced for one tab character. By default, the function takes tab size as 8. 
Return Value: A string in which all the tab characters are replaced with spaces.

In [146]:
# Python code to illustrate expandtabs() 
string = 'GEEKS\tFOR\tGEEKS'
  
# No parameters, by default size is 8 
print (string.expandtabs()) 
  
# tab size taken as 2 
print(string.expandtabs(2)) 
  
# tab size taken as 5 
print(string.expandtabs(5))

GEEKS   FOR     GEEKS
GEEKS FOR GEEKS
GEEKS     FOR  GEEKS

# give 15 unique method example of lis

### 1). Get Unique Values from a List by Traversal of the List

In [152]:
# function to get unique values
def unique(list1):

    # initialize a null list
    unique_list = []

    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if x not in unique_list:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print (x),


# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)


list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

### 2). Get Unique Values From a List in Python Using reduce() function
Using Python import reduce() from functools and iterate over all element and checks if the element is a duplicate or unique value. Below is the implementation of the above approach

In [202]:
from functools import reduce

def unique(list1):

    # Print directly by using * symbol
    ans = reduce(lambda re, x: re+[x] if x not in re else re, list1, [])
    print(ans)


# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)


list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
[10, 20, 30, 40]

the unique values from 2nd list is
[1, 2, 3, 4, 5]

### 3). Get Unique Values From a List in Python Using Operator.countOf() method
The ‘unique’ function initializes an empty ‘unique_list’, then iterates through ‘list1’. For each element ‘x’, it employs ‘op.countOf()‘ to check if ‘x’ is present in ‘unique_list’. If not found (count is 0), ‘x’ is appended to ‘unique_list’. The final unique values are printed using a loop. The driver code demonstrates this process for two lists, ‘list1’ and ‘list2’, showcasing the extraction of distinct elements from each list while maintaining their original order.

In [205]:
import operator as op
# function to get unique values


def unique(list1):

    # initialize a null list
    unique_list = []

    # traverse for all elements
    for x in list1:
        # check if exists in unique_list or not
        if op.countOf(unique_list, x) == 0:
            unique_list.append(x)
    # print list
    for x in unique_list:
        print(x)

# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)

list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

### 4). Get Unique Values From a List in Python Using pandas module
The ‘unique’ function utilizes Pandas to create a Series from ‘list1’, then employs ‘drop_duplicates()’ to eliminate duplicates and obtain a list of unique values. Subsequently, it iterates through the unique list and prints each element. The driver code demonstrates the process for two lists, ‘list1’ and ‘list2’, providing distinct values for each list.

In [208]:
import pandas as pd

# function to get unique values
def unique(list1):
    unique_list = pd.Series(list1).drop_duplicates().tolist()
    for x in unique_list:
        print(x)

# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)

list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)
#This code is contributed by Vinay Pinjala.

the unique values from 1st list is
10
20
30
40

the unique values from 2nd list is
1
2
3
4
5

### 5). Get Unique Values From a List Using numpy.unique
Using Python’s import numpy, the unique elements in the array are also obtained. In the first step convert the list to x=numpy.array(list) and then use numpy.unique(x) function to get the unique values from the list. numpy.unique() returns only the unique values in the list.

In [211]:
# using numpy.unique
import numpy as np

def unique(list1):
    x = np.array(list1)
    print(np.unique(x))


# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)


list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
[10 20 30 40]

the unique values from 2nd list is
[1 2 3 4 5]

### 6). Get Unique Values From a List in Python Using collections.Counter()
Using Python to import Counter() from collections print all the keys of Counter elements or we print directly by using the “*” symbol. Below is the implementation of the above approach.

In [214]:
from collections import Counter

# Function to get unique values


def unique(list1):

    # Print directly by using * symbol
    print(*Counter(list1))


# driver code
list1 = [10, 20, 10, 30, 40, 40]
print("the unique values from 1st list is")
unique(list1)


list2 = [1, 2, 1, 1, 3, 4, 3, 3, 5]
print("\nthe unique values from 2nd list is")
unique(list2)

the unique values from 1st list is
10 20 30 40

the unique values from 2nd list is
1 2 3 4 5

### 7). Using List Comprehension

In [252]:
my_list = [1, 2, 3, 3, 4, 5, 5, 6]
unique_values = [x for i, x in enumerate(my_list) if x not in my_list[:i]]
print(unique_values)

[1, 2, 3, 4, 5, 6]

## 8). Using the Pandas Library

In [267]:
import pandas as pd
my_list = [1, 2, 3, 3, 4, 5, 5, 6]
unique_values = pd.Series(my_list).unique().tolist()
print(unique_values)

[1, 2, 3, 4, 5, 6]

### 9). xamples of Getting Unique Values from a List in Python

In [272]:
my_list = [(1, 'a'), (2, 'b'), (3, 'a'), (4, 'c'), (5, 'b')]
unique_values = [x for i, x in enumerate(my_list) if x[1] not in [y[1] for y in my_list[:i]]]
print(unique_values)

[(1, 'a'), (2, 'b'), (4, 'c')]

### 10). Python list.append() and for loop

In [297]:
list_inp = [100, 75, 100, 20, 75, 12, 75, 25] 

res_list = []

for item in list_inp: 
    if item not in res_list: 
        res_list.append(item) 

print("Unique elements of the list using append():\n")    
for item in res_list: 
    print(item)

Unique elements of the list using append():

100
75
20
12
25

### 11). Python numpy.unique() function To Create a List with Unique Items

In [301]:
import numpy as N
list_inp = [100, 75, 100, 20, 75, 12, 75, 25] 

res = N.array(list_inp) 
unique_res = N.unique(res) 
print("Unique elements of the list using numpy.unique():\n")
print(unique_res)

Unique elements of the list using numpy.unique():

[ 12  20  25  75 100]

### 12). Next Function: next()

In [304]:
mylist = iter(["blue", "red", "green"])

x = next(mylist)

print(x)

x = next(mylist)

print(x)

blue
red

### 13). Range Function: range()

In [307]:
mylist = range(3)

for x in mylist:

  print(x)

0
1
2

### 14). Add Function: add()

In [310]:
mylist = {"dog", "cat", "bird"}

mylist.add("elephant")

print(mylist)

{'bird', 'elephant', 'dog', 'cat'}

### 15). Random Choice Function: choice()

In [313]:
import random

animals = ["bear", "squirrel", "bird", "deer", "hedgehog"]

print(random.choice(animals))

bird

### 16).  Remove Function: remove()

In [316]:
mylist = [1, 2, 3, 4, 5]

mylist.remove(4)

print(mylist)

[1, 2, 3, 5]

### 17). Reverse Function: reverse()

In [319]:
mylist = [1, 2, 3, 4, 5]

mylist.reverse()

print(mylist)

[5, 4, 3, 2, 1]

### 18). Slice Function: slice()

In [323]:
fruits = ("apple", "banana", "cherry", "kiwi", "date", "fig",)

x = slice(4)

print(fruits[x])

('apple', 'banana', 'cherry', 'kiwi')

### 19). Sort Function: sort()

In [326]:
mylist = [44, 3, 8, 16, 25]

mylist.sort()

print(mylist)

[3, 8, 16, 25, 44]

### 20). Sorted Function: sorted()

In [329]:
animals = ("dog", "cat", "bear", "deer", "koala", "rooster", "cow")

myvalue = sorted(animals)

print(myvalue)

['bear', 'cat', 'cow', 'deer', 'dog', 'koala', 'rooster']